name: Rust CI

on:
  push:
    branches: [ "rust" ]
  pull_request:
    branches: [ "rust" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run tests
      run: cargo test --verbose